<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/dev.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Título da página</title>
  </head>
  <body>
    <!-- icon menu -->
    <i class="bi bi-list menu-mobile"></i>

    <!-- barra lateral -->
    <aside id="header">
      <section class="profile">
        <img src="../static/img/perfil.jpeg" alt="Foto do Lucas" />
        <h1>Lucas Albuquerque Pires</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/lucas-albuquerque-pires-87b403a5/"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/LucasPires50">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </section>
      <!-- Navbar -->
      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio">
              <i class="bi bi-house-fill"></i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">
              <i class="bi bi-person-circle"></i> Sobre
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Habilidades">
              <i class="bi bi-list-check"></i> Habilidades
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo">
              <i class="bi bi-file-earmark-text-fill"></i> Currículo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">
              <i class="bi bi-collection"></i> Portfólio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">
              <i class="bi bi-envelope"></i> Contato
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Lucas Albuquerque Pires</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Desenvolvedor WEB</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              ornare diam nibh, id fermentum libero varius pretium. Fusce quis
              lacus aliquam, sollicitudin est eget, semper diam. Cras lorem ex,
              consequat sit amet ipsum efficitur, volutpat congue tortor. Mauris
              sit amet elit volutpat mauris rhoncus porta. Class aptent taciti
              sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos. Morbi ultricies, justo eget mollis tincidunt, libero
              sapien dictum urna, eu dapibus felis nibh quis arcu. Vestibulum
              eget enim orci. Fusce tristique malesuada turpis. Ut ut lacinia
              augue, id volutpat mauris. Etiam vehicula elementum mauris quis
              ullamcorper. Nunc rhoncus eros non eros elementum, nec lobortis
              nisi rhoncus. Vestibulum sed lectus at nunc fringilla eleifend nec
              in velit. Duis aliquet, metus eu venenatis volutpat, sapien sapien
              iaculis purus, vel aliquet nulla lorem at massa. Nulla a lectus
              sollicitudin, tempus neque quis, elementum nisl. Sed tristique
              semper eros id sollicitudin. Nam id diam maximus, sodales mauris
              eget, ultricies libero.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <img
              class="img-fluid shadow"
              src="../static/img/perfil.jpeg"
              alt="Foto do Lucas"
              data-anime="left"
            />
          </div>
          <div class="col-md-8" data-anime="right">
            <h3>Desenvolvedor Back-end</h3>
            <p>
              Desenvolvedor Back-End com mais de 2 anos de experiência,
              trabalhando principalmente python e django para o back-end,
              utilizando bancos de dados SQL e noSQL.
            </p>
            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Niver: <span class="fw-lighter">04 de Agosto de 1994</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">29 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">Brusque</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Santa Catarina</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobby: <span class="fw-lighter">Cozinhar</span>
                  </li>
                  <li class="list-group-item">
                    Site:
                    <span class="fw-lighter">
                      <a
                        href="#"
                        target="_blank"
                        class="fw-lighter text-decoration-none link-dark"
                        >links.thiscode</a
                      >
                    </span>
                  </li>
                  <li class="list-group-item">
                    Niver:
                    <span class="fw-lighter">
                      Trabalho:
                      <a
                        href="#"
                        target="_blank"
                        class="fw-lighter text-decoration-none link-dark"
                        >DevPro</a
                      >
                    </span>
                  </li>
                  <li class="list-group-item">
                    Experiência: <span class="fw-lighter">+3 anos</span>
                  </li>
                </ul>
              </div>
            </div>
            <p>
              Nam interdum nisl vitae ex molestie, a rutrum orci tincidunt.
              Vivamus imperdiet magna eget tempor rhoncus. Quisque ac neque
              nunc. Mauris in elit eu orci faucibus pretium vel eu eros. Nunc
              vel diam vitae velit tincidunt lacinia. Duis vel mauris dui. Etiam
              eleifend aliquet nisl at consequat.
            </p>
          </div>
        </div>
      </section>

      <section class="mt-5 pb-5 section-bg" id="Habilidades">
        <div class="container pd-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Em todo tempo como profissional de tecnologia eu adquiri algumas
            habilidades técinicas e não técnicas, a maioria delas estão aqui, de
            acordo com a porcentagem de conhecimento que eu acredito ter em cada
            uma delas.
          </p>
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Python</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
              </div>
              <p class="mt-3 mb-0">Docker</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
              </div>
              <p class="mt-3 mb-0">GIT</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
              </div>
              <p class="mt-3 mb-0">HTML</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 40%">40%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="20"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 20%">20%</div>
              </div>
              <p class="mt-3 mb-0">JavaScript</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Django</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
              </div>
              <p class="mt-3 mb-0">Flask</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="20"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 20%">20%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
              </div>
              <p class="mt-3 mb-0">Postgres</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
              </div>
              <p class="mt-3 mb-0">AWS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
              </div>
              <p class="mt-3 mb-0">Produtiadade</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="95"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Pensamento analítico</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comunicação</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
              </div>
              <p class="mt-3 mb-0">Empatia</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
              </div>
              <p class="mt-3 mb-0">Empatia</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="95"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 95%">95%</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item" data-anime="up">
                <h4>Bacharel em Direito</h4>
                <h5>2013-2018</h5>
                <p><em>Ulbra - Universidade Luterana do Brasil</em></p>
                <p>Descrição</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Técnico em Desenvolvimento De Sistemas</h4>
                <h5>2019-2020</h5>
                <p><em>Senai/SC</em></p>
                <p>Descrição</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>
              <div class="cv-item" data-anime="up">
                <h4>Desenvolvedor Back-End</h4>
                <h5>2021-2023</h5>
                <p><em>Leader Aplicativos</em></p>
                <p>Descrição</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Assistente de Apoio ao Usuário</h4>
                <h5>2020-2021</h5>
                <p><em>Flowti</em></p>
                <p>Descrição</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Estagiário</h4>
                <h5>2019-2020</h5>
                <p><em>Flowti</em></p>
                <p>Descrição</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">
          
          <h2 class="pd-4">Portfólio</h2>
          
          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/ecommerce-webstite-design_opt.webp" class="card-img-top" alt="Plataforma Ecommerce">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Ecommerce</h5>
                        <p class="card-text">Donec tempus cursus odio, vitae tristique augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi maximus et libero id molestie.</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target="_blank" class="btn btn-outline-primary">
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/aplicativos-e-plataformas-educacionais-1.webp" class="card-img-top" alt="Plataforma Educacional">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Educacional</h5>
                        <p class="card-text">Maecenas erat lorem, commodo accumsan euismod id, ornare at ipsum. Fusce tempus enim ultrices feugiat porttitor. Pellentesque ligula mi, pulvinar eget eros non, placerat sollicitudin eros.</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="#" target="_blank" class="btn btn-outline-primary">
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/aplicativos-e-plataformas-educacionais-1.webp" class="card-img-top" alt="Plataforma Educacional">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Educacional</h5>
                        <p class="card-text">Maecenas erat lorem, commodo accumsan euismod id, ornare at ipsum. Fusce tempus enim ultrices feugiat porttitor. Pellentesque ligula mi, pulvinar eget eros non, placerat sollicitudin eros.</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="#" target="_blank" class="btn btn-outline-primary">
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/aplicativos-e-plataformas-educacionais-1.webp" class="card-img-top" alt="Plataforma Educacional">
                      <div class="card-body">
                        <h5 class="card-title">Plataforma Educacional</h5>
                        <p class="card-text">Maecenas erat lorem, commodo accumsan euismod id, ornare at ipsum. Fusce tempus enim ultrices feugiat porttitor. Pellentesque ligula mi, pulvinar eget eros non, placerat sollicitudin eros.</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="#" target="_blank" class="btn btn-outline-primary">
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/aplicativos-e-plataformas-educacionais-1.webp" class="card-img-top" alt="Plataforma Educacional">
                    <div class="card-body">
                      <h5 class="card-title">Plataforma Educacional</h5>
                      <p class="card-text">Maecenas erat lorem, commodo accumsan euismod id, ornare at ipsum. Fusce tempus enim ultrices feugiat porttitor. Pellentesque ligula mi, pulvinar eget eros non, placerat sollicitudin eros.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                          <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank" class="btn btn-outline-primary">
                          <i class="bi bi-link-45deg"></i>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="../static/img/aplicativos-e-plataformas-educacionais-1.webp" class="card-img-top" alt="Plataforma Educacional">
                  <div class="card-body">
                    <h5 class="card-title">Plataforma Educacional</h5>
                    <p class="card-text">Maecenas erat lorem, commodo accumsan euismod id, ornare at ipsum. Fusce tempus enim ultrices feugiat porttitor. Pellentesque ligula mi, pulvinar eget eros non, placerat sollicitudin eros.</p>
                    <div class="d-flex justify-content-center">
                      <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                        <i class="bi bi-github"></i>
                      </a>
                      <a href="#" target="_blank" class="btn btn-outline-primary">
                        <i class="bi bi-link-45deg"></i>
                      </a>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <section class="pt-5 pb-5" id="contato">
        <div class="container mb-5">

          <h2 class="pt-3 pd-3">Contato</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i>Localização</h4>
                  <p>Brusque, SC</p>
                </div>
                <div class="email">
                  <h4><i class="bi bi-envelope"></i>Email:</h4>
                  <p>lucasdev50@gmail.com</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14217.3926075014!2d-48.896703957843364!3d-27.019162590257967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df39db4948954d%3A0xaaef17029cfd3bbf!2sVolta%20Grande%2C%20Brusque%20-%20State%20of%20Santa%20Catarina!5e0!3m2!1sen!2sbr!4v1709057927724!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
              </div>
            </div>
            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                <form class="row g-3">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                  </div>
                  <div class="col-12">
                    <label for="menssagem" class="form-label">Menssagem:</label>
                    <textarea type="text" class="form-control" id="menssagem" placeholder="Digite sua menssagem" name="menssagem" rows="10"></textarea>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-dark">Enviar menssagem</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
